.container {
	position: relative;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}
.carousel__title {
	margin-bottom: 50px;
	text-align: center;
}



.carousel__inner{
	display: flex;
	justify-content: space-between;
}
.carousel__item {
	display: flex;
	width: 400px;
	height: 300px;
	background-color: rgb(193, 23, 159);

}

.carousel__item p{
	margin: auto;
}

.arrow {
	width: 30px;
	height: 30px;
	border-top: 10px solid #6E18C0;
	border-right: 10px solid #6E18C0;
}    

.left {
	position: absolute;
	top: 35%;
	left: -5%;
    transform: rotate(-135deg);
}
.right {
	position: absolute;
	top: 35%;
	right: -5%;
    transform: rotate(45deg);
}
.carousel__more {
	font-size: 150px;
	text-align: center;
}
@media (max-width:1980px){
	.left{
		position: absolute;
		top: 39%;
	}
	.right{
		position: absolute;
		top: 39%;
	}

}
@media (max-width:1450px){

	.container{
		max-width: 980px;
	}

	.carousel__item {
		display: flex;
		width: 300px;
		height: 200px;
		background-color: rgb(193, 23, 159);
	}
	.left{
		position: absolute;
		top: 36%;
	}
	.right{
		position: absolute;
		top: 36%;
	}
}
@media (max-width:1200px) {
	.container{
		max-width:880px;
	}
	.carousel__item {
		width: 275px;
		height: 175px;
	
	}
	.carousel__more {
		font-size: 100px;
	}
	.left{
		position: absolute;
		top: 39%;
	}
	.right{
		position: absolute;
		top: 39%;
	}
}
@media (max-width:980px){
	.container{
		max-width:680px;
	}
	.carousel__item {
		display: flex;
		width: 200px;
		height: 100px;
		background-color: rgb(193, 23, 159);
	
	}
	.arrow {
		width: 15px;
		height: 15px;
		border-top: 5px solid #6E18C0;
		border-right: 5px solid #6E18C0;
	}    
	.carousel__more {
		font-size: 80px;
	}
	.left {
		position: absolute;
		top: 45%;
	}
	
	.right {
		position: absolute;
		top: 45%;

	}
}
@media (max-width:768px) {
	.carousel{
		margin-left: 20px;
	}
	.container{
		position: relative;
		max-width: 380px;
	}
	.carousel__inner{
		display: block;
	}
	.carousel__item{
		margin-top: 20px;
	}

	.left {
		position: absolute;
		top: 77%;
		left: 300px;
		transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
	}
	
	.right {
		position: absolute;
		top: 37%;
		left: 300px;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	.carousel__more {
		position: absolute;
		top: 48%;
		left: 300px;
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
	}
}

@media (max-width:512px) {
	.container{
		max-width: 200px;
	}
	.left{
		left: 230px;
	}
	.right{
		left: 230px;
	}
	.carousel__more{
		left: 230px;
	}
	.carousel__item {
		width: 200px;
		height: 100px;
	}
}